[defaults]
inventory = inventory.ini
roles_path = roles
remote_user = ubuntu
private_key_file = /root/.ssh/ops_platform
interpreter_python = auto_silent

[ssh_connection]
ssh_args = -o StrictHostKeyChecking=accept-new -o ControlMaster=auto -o ControlPersist=60s
pipelining = True
